KAFKA_URL=localhost:9092
MODEL_INFERENCE_REQUEST_TOPIC=model-inference-request
MODEL_INFERENCE_RESULT_TOPIC=model-inference-result
MODEL_RUNTIME_PROFILE=cpu
MODEL_WORKER_ENABLED=true
MODEL_SERVICE_SOURCE=local-model-service
